@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.bg-overview {
  background-image: url(../../public/images/bg.png);
  background-size: cover;
}

.underline-effect {
  position: relative;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: #d8b4fe;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.shiny-effect {
  text-shadow: 0px 3px 8px #d8b4fe;
}

.shiny-effect-sm {
  text-shadow: 0px 1px 3px #d8b4fe;
}

.right-roadmap {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}