@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #e9d5ff;
  background: #020617;
}

.bg-overview {
  background-image: url(../../public/images/bg.jpg);
}

.underline-effect {
  position: relative;
}

.underline-effect::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: #d8b4fe;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-effect:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.right-roadmap {
  clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 25% 50%, 0% 0%);
}